<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <!-- This will show in page tab above the search feald -->
    <title>My Resume</title> 

</head>
<body>
    <nav>
        <div style="flex: 1">
            <h4 style="margin: 0;">--- Your Name ---</h4>
        </div>
        <div class="toggle-div">
            <p>Resume</p>
            <label class="toggle-switch">
                <input type="checkbox" onclick="toggleDarkMode()">
                <span class="slider"></span>
            </label>
            <p>Resume</p>
            <!-- <button onclick="toggle()">Resume</button> -->
        </div>
        <div style="flex: 1;"></div> <!-- Empty div to balance the space -->
    </nav>
    <iframe id="resume" src="./Resume.pdf" width="100%" height="100%"></iframe>
    <iframe id="personal_letter" src="./Personal_Letter.pdf" class="hide" width="100%" height="100%"></iframe>
</body>

<script>
    var resume = document.getElementById("resume");
    var personal_letter = document.getElementById("personal_letter");

    function toggle() {
        resume.classList.toggle("hide");
        personal_letter.classList.toggle("hide");
    }
</script>

</html>