body {
    height: 90vh;
    width: 98vw;
    margin: 0 auto;
}
button {
    width: 130px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: solid black 2px;
    margin: 0 20px 0 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.hide {display: none;}

.toggle-div {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
    display: inline-block;
}
.toggle-switch input {
    display: none;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: background-color 0.3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(30px);
}