<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <!-- This will show in page tab above the search feald -->
    <title>My Resume</title> 
    <!-- This will show in page tab above the search feald -->
    
</head>

<body>
    <nav class="nav">
        <div class="left">
            <h3>--- Your Name ---</h3>
        </div>
        <div class="toggle">
            <div onclick="resume()">
                <p id="resume-str" class="bold">Resume</p>
            </div>
            
            <dic class="toggle-switch">
                <span onclick="toggle()" id="slider" class="slider" onclick=""></span>
            </dic>

            <div onclick="biography()">
                <p id="biography-str">Biography</p>
            </div>
            
        </div>
        <div class="right"></div>
    </nav>
    <iframe id="resume" src="./documents/Resume.pdf"></iframe>
    <iframe id="biography" src="./documents/Biography.pdf" class="hide"></iframe>
</body>

<script src="./script.js"></script>

</html>