:root {
    --text-color:rgb(222, 222, 222);
    --link-color:#bfffff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(11, 11, 11);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}


/* @media (min-width: 20px) {
    .pagetitle { font-size: 1.4rem;}
    .subtitle { font-size: 1.1rem;}
    header {
        position: relative;
        display: block;
        height: 50px;
        margin: 0;
        padding: 20px;
    }
}

@media (min-width: 488px) {
    .pagetitle { font-size: 2.4rem;}
    .subtitle { font-size: 1.6rem; }
    header {
        height: 50px;
        margin: 0;
        padding: 20px;
        padding: 50px;}
} */

.content-div {
    margin: 0 auto;
    height: calc(90vh - 7em);
    width: 90%;
}
.title {
    padding: 10px 0 0 10px;
}

footer {
    height: 100px;
    width: 100vw;
    position: absolute;
    display: block;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

footer a img{
    width: 40px;
    height: 40px;
}

footer a {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

footer a p {
    font-size: 0.8rem;
    margin: 4px 0 0 0;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
}

a {
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--text-color);
}


.spotify-player {
    margin: 20px auto;
    max-width: 80%;
    height: 100px;
}

#mathQuestion {
    text-align:justify;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 20px;
    max-width: 600px;
    height: 160px;
}
#answer-form{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

#user-input {
    border-radius: 10px;
    padding: 8px;
    background-color: transparent;
    border: none;
    border: solid white 1px;
    color: white;
    width: 100px;
    font-size: 1.1rem;
    text-align: center;
}
#user-input-submit {
    border-radius: 10px;
    padding: 8px;
    background-color: transparent;
    color: white;
    border: solid white 1px;
    font-weight: 900;
    margin-left: 10px;
}
#new-question-btn {
    border-radius: 10px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}