:root {
    --text-color:rgb(222, 222, 222);
    --link-color:#bfffff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 11, 11);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}


/* @media (min-width: 20px) {
    .pagetitle { font-size: 1.4rem;}
    .subtitle { font-size: 1.1rem;}
    header {
        position: relative;
        display: block;
        height: 50px;
        margin: 0;
        padding: 20px;
    }
}

@media (min-width: 488px) {
    .pagetitle { font-size: 2.4rem;}
    .subtitle { font-size: 1.6rem; }
    header {
        height: 50px;
        margin: 0;
        padding: 20px;
        padding: 50px;}
} */

.content-div {
    margin: 0 auto;
    height: calc(90vh - 7em);
    width: 90%;
}

.title {
    margin: 20px;
    padding: 20px 0 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title div {
    border-bottom: 4px solid var(--text-color);
}
.title img {
    width: 150px;
    margin-right: 20px;
    
}

.title h1 {
    font-size: 2.4rem;
}

.logbook-post {
    padding: 20px 50px 20px 50px;
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
}
.logbook-post section {
    margin: 0;
    padding: 0 0 0 20px;
}
.logbook-post h4 {
    margin: 20px 0 0 0;
    padding: 0;
}
.logbook-post p {
    margin: 0;
    padding: 0;
}
.logbook-post h2 {
    margin: 0;
    font-weight: 100;
}
.logbook-post div {
    padding: 20px;
}
.logbook-post a {
    border-bottom: 1px solid white;
    padding: 2px;
}

nav {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100vw;
    display: block;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#logbook_nav h4{
    margin: 0 0 10px 0;
    padding: 0;
}
#logbook_nav {
    border-right: 4px solid var(--text-color);
    padding: 20px;
    width: fit-content;
}

nav a img{
    width: 40px;
    height: 40px;
}

nav a {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a p {
    font-size: 0.8rem;
    margin: 4px 0 0 0;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
}

a {
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--text-color);
}

.spotify-player {
    margin: 20px auto;
    max-width: 80%;
    height: 100px;
}

