:root {
    --text-color:rgb(222, 222, 222);
    --link-color:#bfffff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 11, 11);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}


@media (min-width: 20px) {
    .pagetitle { font-size: 1.4rem;}
    .subtitle { font-size: 1.1rem;}
    header {
        margin: 0;
        padding: 30px;
    }
}

@media (min-width: 488px) {
    .pagetitle { font-size: 2.4rem;}
    .subtitle { font-size: 1.6rem; }
    header {padding: 50px;}
}

footer {
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

footer a img{
    width: 40px;
    height: 40px;
}

footer a {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

footer a p {
    font-size: 0.8rem;
    margin: 4px 0 0 0;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.content-div a {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 40px;
}
.content-div {
    width: fit-content;
    left: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    width: 100%;
    height: fit-content;
    
}

ul {
    /* display: none; */
    list-style: none;
    padding: 0;
    width: 50px;
}

ul li {
    margin-bottom: 10px; /* Add some spacing between list items */
}